/**
 * VideoCanvas Styles
 */

.video-canvas {
  position: relative;
  width: 100%;
  height: 500px;
  background: #000;
  border-radius: 0.375rem;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.video-canvas__video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  pointer-events: none;
}
