/**
 * Alerts Badge Styles (F4-aligned)
 *
 * Visual indicator for open violation count.
 */

.alerts-badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 1.25rem;
  height: 1.25rem;
  padding: 0 0.375rem;
  font-size: 0.6875rem;
  font-weight: 600;
  line-height: 1;
  color: #fff;
  background-color: #d93025;
  border-radius: 0.625rem;
}

.alerts-badge--unavailable {
  background-color: #9e9e9e;
}
